work/winks/winkCC/doc/protocol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp1 (http://www.altova.com) by noname (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="exception">
		<xs:annotation>
			<xs:documentation>异常返回结果</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="code" type="xs:int">
					<xs:annotation>
						<xs:documentation>异常代码</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>异常描述</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="debug" type="xs:anyType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>调试信息</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="guid" type="xs:token">
		<xs:annotation>
			<xs:documentation>全局唯一标识</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="services">
		<xs:annotation>
			<xs:documentation>彩像服务器配置信息</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="winksUrl" type="xs:anyURI">
					<xs:annotation>
						<xs:documentation>彩像业务服务器的URL基地址</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="mediaUrl" type="xs:anyURI">
					<xs:annotation>
						<xs:documentation>媒体服务器的URL基地址</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="smsNumber" type="xs:string">
					<xs:annotation>
						<xs:documentation>短信特服号码</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pushPort" type="xs:int">
					<xs:annotation>
						<xs:documentation>终端push接收端口</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="config">
					<xs:annotation>
						<xs:documentation>服务配置</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="feeType">
								<xs:annotation>
									<xs:documentation>用户计费类型</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="limited" type="xs:anyType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>受限用户选项</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="trial" type="xs:anyType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>试用者选项</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="adware" type="xs:anyType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>接受广告用户选项</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="subscriber" type="xs:anyType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>付费用户选项</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="diy" type="xs:boolean" minOccurs="0">
								<xs:annotation>
									<xs:documentation>可以DIY彩像，有此字段是表示打开此功能，值为此功能是否需要订阅</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="vcard" type="xs:boolean" minOccurs="0">
								<xs:annotation>
									<xs:documentation>使用来电名片，有此字段是表示打开此功能，值为此功能是否需要订阅</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="vcash" type="xs:boolean" minOccurs="0">
								<xs:annotation>
									<xs:documentation>使用点卡，有此字段是表示打开此功能，值为此功能是否需要订阅</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="activity" type="xs:boolean" minOccurs="0">
								<xs:annotation>
									<xs:documentation>用户场景模式，有此字段是表示打开此功能，值为此功能是否需要订阅</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="userServiceStatus">
		<xs:annotation>
			<xs:documentation>用户的服务状态信息</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="unregistered" type="xs:anySimpleType">
					<xs:annotation>
						<xs:documentation>用户未注册</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence>
					<xs:element name="uid" type="xs:token">
						<xs:annotation>
							<xs:documentation>用户标识</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="services">
						<xs:annotation>
							<xs:documentation>用户已开通的服务</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="subscription">
									<xs:annotation>
										<xs:documentation>用户付费类型</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="limited"/>
											<xs:enumeration value="trial"/>
											<xs:enumeration value="adware"/>
											<xs:enumeration value="subscriber"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="diy" type="xs:anySimpleType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>DIY功能</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="vcard" type="xs:anySimpleType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>随电名片功能</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="activity" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>用户场景模式</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="vcash" type="xs:int" minOccurs="0">
									<xs:annotation>
										<xs:documentation>点卡计数</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="phoneBook">
		<xs:annotation>
			<xs:documentation>电话本</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pbi" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>电话本条目</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="n" minOccurs="0">
								<xs:annotation>
									<xs:documentation>姓名</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="p">
								<xs:annotation>
									<xs:documentation>电话号码</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="result" type="xs:anyType">
		<xs:annotation>
			<xs:documentation>通用成功返回信息</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="scalarResult" type="xs:anySimpleType">
		<xs:annotation>
			<xs:documentation>返回标量值</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="empty" type="EmptyType">
		<xs:annotation>
			<xs:documentation>空值</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="uid" type="xs:token">
		<xs:annotation>
			<xs:documentation>用户标识</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="wid" type="xs:token">
		<xs:annotation>
			<xs:documentation>彩像标识</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="diy">
		<xs:annotation>
			<xs:documentation>diy彩像</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string">
					<xs:annotation>
						<xs:documentation>彩像名称</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ext" type="xs:string">
					<xs:annotation>
						<xs:documentation>文件扩展名</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attachName" minOccurs="0">
					<xs:annotation>
						<xs:documentation>是以multi-part方式上传时的附件文件名</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="winksScript" type="WinksScriptType">
		<xs:annotation>
			<xs:documentation>彩像定制</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="winksScriptList">
		<xs:annotation>
			<xs:documentation>彩像定制列表</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ws" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="WinksScriptType">
								<xs:sequence>
									<xs:element name="wsid" type="xs:string">
										<xs:annotation>
											<xs:documentation>彩像定制标识</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="shared">
		<xs:annotation>
			<xs:documentation>共享信息</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="activity" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>场景模式</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="name" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>其他人看到的名称</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="message" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>其他人看到的消息</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="showWinks" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>是否显示彩像</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="showVcard" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>是否显示随电名片</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="winksShow">
		<xs:annotation>
			<xs:documentation>彩像展示信息</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="wid" type="xs:token">
					<xs:annotation>
						<xs:documentation>彩像标识</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="media" type="xs:anyURI">
					<xs:annotation>
						<xs:documentation>媒体文件URL</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="greeting" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>问候语</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="activity" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>场景模式</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="EmptyType">
		<xs:annotation>
			<xs:documentation>空类型</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="WinksScriptType">
		<xs:sequence>
			<xs:element name="wid" type="xs:token" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>彩像标识列表</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="p" type="xs:string" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>电话号码列表</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="all" type="EmptyType">
					<xs:annotation>
						<xs:documentation>全部</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="greeting" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>问候语</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
